<div class="container-fluid hero_container">
	<div class="row container-fluid hero_container">
		<div class="col-xs-12 col-sm-12 background_cover_top hero_container">
			<div class="container">
				<img class="fittany-logo-desktop" alt="fittany-logo" src="content/images/Fittany_Lions_Logo Desktop.png">
				
			</div>
			<div class="container">
				<img class="fittany-logo-mobile" alt="fittany-logo" src="content/images/Fittany_Lions_Logo-Mobile.png">
				
			</div>
			<div class="container content_div">
				<h1 class="fittany_h1">Get up for the challenge with Fittany Lions!</h1>
				<p class="fittany_p">This space will speak about the challenge details and rule.
					Complete challenges every week for the three categories fitness, wellness, and nutritions. Win exciting prizes every month, every six month and annually for working towards your overall wellness goals. 
				</p>	
			</div>
			<div class="container image-container">
				<img class="" alt="fitness-logo" src="content/images/Fitness-Icon.png">
				<h2 class="fittany_subheading">FITNESS</h2>
				<p class="fittany_p">This space will speak about fitness challenge.
				</p>
				
			</div>
			<div class="container image-container">
				<img class="" alt="nutritions-logo" src="content/images/nutrition-Icon.png">
				<h2 class="fittany_subheading">NUTRITION</h2>
				<p class="fittany_p">This space will speak about nutrition challenge.
				</p>
				
			</div>
			<div class="container image-container">
				<img  alt="wellness-logo" src="content/images/Wellness-Icon.png" class="wellness-logo">
				<h2 class="fittany_subheading">WELLNESS</h2>
				<p class="fittany_p">This space will speak about wellness challenge.
				</p>
				
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 hero_container background_cover_bottom">
			<div class="container">
				<h2>Excited to take up the challenge</h2>
				<p>Submit your email address to get notified when we launch. Share it with your friends and also, win exciting prizes. 
				</p>
			</div>
			<div class="container">
				<form name="notify-form" role="form">
					<div class="form-group custom-form-group">
						<input placeholder="Email" type="email" class="form-control custom-input" id="email" name="email" ng-model="email" required>
					</div>
					<div class="form-group">
						<button class="btn btn-default btn-lg custom-buttom">GET NOTIFIED</button>
					</div>
					<div class="form-group">
						<button class="btn btn-default btn-lg custom-buttom">Share on Facebook</button>
					</div>
					
				</div>
				</form>
				
			</div>
			
		</div>
	</div>
	
</div>